/* ContactSection.css */

.social-marquee {
    overflow: hidden;
    width: 100%;
    position: relative;
    margin-top: 60px;
  }
  
  .social-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 30s linear infinite;
    gap: 100px; /* khoảng cách giữa icon */
  }
  
  .social-icon img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  
  .social-icon img:hover {
    transform: scale(1.1);
  }
  
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  